body {
  background-color: #15191e;
  color: #9aacbc;
  line-height: 2em;
  font-size: 2em;
  margin: 0;
  padding: 18px;
  width: 100%;
}

main,
a,
p,
input {
  margin: 0;
  padding: 0;
  width: 94%;
}

input {
  line-height: 2em;
  font-size: 1em;
  border-radius: 30px;
  padding: 0px 20px;
  display: block;
  margin-bottom: 1.2em;
}
a {
  font-size: 0.8em;
  color: aqua;
  text-decoration: none;
}
